<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>343585296616-4sc8bi1b7mqi5fmjukq2897pt49fipbn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343585296616-4sc8bi1b7mqi5fmjukq2897pt49fipbn</string>
	<key>API_KEY</key>
	<string>AIzaSyC0E_WY87kms0mYEStHt1q0MpdNR-nxIV4</string>
	<key>GCM_SENDER_ID</key>
	<string>343585296616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gateControlSystem</string>
	<key>PROJECT_ID</key>
	<string>gate-control-system</string>
	<key>STORAGE_BUCKET</key>
	<string>gate-control-system.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343585296616:ios:bc724b3fe1b990ad16f95d</string>
</dict>
</plist>